---
type Props = {
  ldSchema: any;
}

const { ldSchema } = Astro.props;
---

<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <body>
    <slot />
    <script type="application/ld+json" set:html={JSON.stringify(ldSchema)} />
  </body>
</html>
